.DashboardContainer{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
}

.DashboardContainer > div:nth-child(1){
    width: 100%;
    height: 40%;
}

.DashboardContainer > div:nth-child(2){
    width: 100%;
    height: 60%;
    padding: 3% 5%;
    overflow-y: scroll;
}

.DashboardContainer > div:nth-child(2) > h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 2%;
}

.DashboardContainer > div:nth-child(2) > h2{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color: #837d7d35;
}

.DashboardContainer > div:nth-child(2) > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}