.homeContainer{
    height: 100vh;
    width: 100vw;
    display: flex;

}

.homeContainer > .sideBar{
    width: 18%;
    height: 100%;
}

.homeContainer > .contentArea {
    width: 82%;
    height: 100%;
    background-color: #EDEDED;
}

.homeContainer > .menuIcon{
    position: fixed;
    top: 15px;
    left: 20px;
    display: none;
    z-index: 10;
}

.homeContainer > .menuIcon > :nth-child(1){
    font-size: 45px;
}


@media screen and (max-width: 768px) {
    .homeContainer > .sideBar{
        width: 100%;
        height: 95vh;
        position: absolute;
        right: 100%;
        transition: 0.3s ease;
        background-color: #fff;
    }
    
    .homeContainer > .contentArea {
        width: 100%;
    }
    
    .homeContainer > .menuIcon{
        display: block;
    }

    .homeContainer > .openMenu{
        right: 0;
    }
}