.CompletedPopupContainer{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CompletedPopupContainer > a{
    position: absolute;
    top: 10px;
    right: 10px;
}

.CompletedPopupContainer > a > .closeIcon{
    font-size: 30px;
    font-weight: 700;
}

.CompletedPopupContainer > a > .closeIcon:hover{
    color: #60B84B;
}

.CompletedPopupContainer > h1{
    font-size: 39px;
    font-weight: 600;
    line-height: 59px;
    text-align: center;
}

.CompletedPopupContainer > div{
    width: 100%;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 38px;
    background-color: #EDEDED;
    padding: 5px 9px;
    border-radius: 10px;
    margin: 15px 5px;
}

.CompletedPopupContainer button{
    width: 250px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #60B84B;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.CompletedPopupContainer button:hover{
    background-color: #4fa839;
}