.sideBarContainer{
    width: 18vw;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0 10px 0 #0000001F;
}

.sideBarContainer > h1{
    font-family: Jomhuria;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;   
}

.sideBarContainer > .navs{
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideBarContainer > .navs > a{
    text-decoration: none;
    color: #474444;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 35px;    
    border-radius: 10px;
}

.sideBarContainer > .navs > a:hover, .sideBarContainer > .navs > .hoverEffect{
    box-shadow: 2px 2px 10px 2px #0000001F;
}

.sideBarContainer > h2{
    padding: 20px 20px 0 20px;
    border-top: 1px solid black;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.sideBarContainer > h2:hover{
    box-shadow: 2px 2px 10px 2px #0000001F;
}