.takeQuizeContainer {
    height: 88vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

.takeQuizeContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.takeQuizeContainer>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.takeQuizeContainer>div:nth-child(1)>h2 {
    font-size: 40px;
    font-weight: 700;
}

.takeQuizeContainer>div:nth-child(1)>h2:nth-child(2) {
    color: #D60000;
    right: 10px;
}

.takeQuizeContainer>div:nth-child(2)>h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.takeQuizeContainer>div:nth-child(3) {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.takeQuizeContainer>div:nth-child(3)>div {
    width: 40%;
}


.takeQuizeContainer>div:nth-child(3)>div>div {
    width: 300px;
    height: 110px;
    border-radius: 10px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 40px;
    padding: 5px;
    border: 5px solid transparent;
    cursor: pointer;
}

.takeQuizeContainer>div:nth-child(3)>div>div:hover {
    background-color: #f1e8e8;
}

.takeQuizeContainer>div:nth-child(3)>div>div>p {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.takeQuizeContainer>div:nth-child(3)>div>div>img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.takeQuizeContainer>div:nth-child(3)>div>.imageAndText {
    display: flex;
}

.takeQuizeContainer>div:nth-child(3)>div>.imageAndText>p {
    width: 50%;
    font-size: 25px;
    justify-content: space-between;
}

.takeQuizeContainer>div:nth-child(3)>div>.imageAndText>img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 50%;
    object-fit: contain;
}

.takeQuizeContainer>div:nth-child(4)>button {
    width: 320px;
    background-color: #60B84B;
    font-size: 30px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.takeQuizeContainer>div:nth-child(4)>button:hover {
    background-color: #4aa434;
}



@media screen and (max-width: 768px) {
    .takeQuizeContainer {
        width: 100%;
        height: 90vh;
        margin: 0;
        padding: 20px 20px 0 20px;
        overflow-y: scroll;
    }

    .takeQuizeContainer>div:nth-child(1)>h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 5px;
    }

    .takeQuizeContainer>div:nth-child(2)>h1 {
        font-size: 25px;
    }

    .takeQuizeContainer>div:nth-child(3)>div {
        width: 100%;
    }

    .takeQuizeContainer>div:nth-child(3) {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .takeQuizeContainer>div:nth-child(3)>div>div {
        width: 300px;
        height: 80px;
        padding: 5px;
        margin: 10px auto;
    }

    .takeQuizeContainer>div:nth-child(3)>div>div>p {
        font-size: 25px;
    }

    .takeQuizeContainer>div:nth-child(3)>div>.imageAndText>p {
        font-size: 20px;
    }

    .takeQuizeContainer>div:nth-child(4)>button {
        width: 300px;
        font-size: 25px;
        margin: 20px auto 0 auto;
    }
}